In [1]:
%load_ext autoreload
%autoreload 2
import os, sys
sys.path.append('..')

In [5]:
from src.utils import generate_test_data

In [6]:
y, X, Z, b, ptev, prev = generate_test_data([200, 100, 300], m=1, sigma_b=2, sigma_e=1)

INFO     [utils.py:67] Drew 600 samples from 3 clusters.
INFO     [utils.py:68] PTEV = 93.73113127802625, PREV = 26.75255760385075.

In [8]:
y.head()

          0
0 -2.965480
1  3.788285
2 -0.275355
3  0.133099
4 -3.404918

In [9]:
X.head()

          0         1         2
0 -0.069064 -2.050272  2.561611
1 -0.374036 -0.326316 -0.489209
2 -1.233586 -0.826482 -0.692182
3 -1.038067  0.029274 -0.069168
4 -0.052441 -0.804568  1.703402

In [10]:
Z.head()

     0
0  0.0
1  0.0
2  0.0
3  0.0
4  0.0